<template>
	<v-app>
	<v-container>
	  <v-layout row wrap>
	    <v-flex xs12 sm12 md12>
	    	 <v-btn  color="primary" @click="showAgregarCompañia = !showAgregarCompañia" >AGREGAR COMPAÑIA</v-btn>
	    </v-flex>
	    <v-flex xs5 sm5 md5 v-show="showAgregarCompañia" >
			<v-text-field
			  label="COMPAÑIA"
			  v-model="var_company_name"
			></v-text-field>
	    </v-flex>
	    <v-spacer></v-spacer>
	    <v-flex xs5 sm5 md5 v-show="showAgregarCompañia" >
			<v-switch
		      v-model="var_company_status"
		      :label="`STATUS: ${var_company_status == true ? 'ACTIVA': 'DESACTIVA' }`"
		    ></v-switch>
	    </v-flex>
	    <v-flex xs5 sm5 md12 v-show="showAgregarCompañia"  >
	      <v-btn color="success" @click.prevent="AddCompany" >AGREGAR</v-btn>
	    </v-flex>
		    <v-flex xs12 sm12 md4 class="mt-2"  >
				  <v-select
				    :items="company"
				    v-model="var_company"
				    label="SELECCIONAR COMPAÑIA"
				    return-object
				    item-text="name"
				    @change="getSucursalesDeEmpresa(var_company)"
				  ></v-select>
		    </v-flex>
		    <v-spacer></v-spacer>
		     <v-flex xs12 sm12 md7>
	            <v-card>
					  <v-container>
					    <v-layout row wrap>
					      <v-flex xs12 sm12 md5>
					              <h1> {{var_company.name}} </h1>
					      </v-flex>
					      <v-spacer></v-spacer>
					      <v-flex xs12 sm12 md5 v-show="var_company != []">
				              	<v-switch
							      v-model="var_company.active"
							      :label="`STATUS: ${var_company.active == true ? 'ACTIVA': 'DESACTIVA' }`"
							    ></v-switch>
					      </v-flex>
					      <v-flex xs12 sm12 md5 v-show="var_company != []">
							<v-btn  block flat color="purple" @click.prevent="cargaEdit" >EDITAR COMPAÑIA </v-btn>
					      </v-flex>
					      <v-spacer></v-spacer>
					      <v-flex xs12 sm12 md5 v-show="var_company != []">
							<v-btn block flat color="error" @click.prevent="deleteCompany"  >ELIMINAR COMPAÑIA</v-btn>
					      </v-flex>
					      <v-flex xs12 sm12 md12 v-show="var_company != []">
					      		<v-btn color="warning" @click.prevent="showAgregarSucursal = !showAgregarSucursal" >AGREGAR SUCURSAL</v-btn>
					      </v-flex>
					      <v-flex xs12 sm12 md5 v-show="showAgregarSucursal"  >
					        <v-text-field
					          label="NOMBRE"
					          v-model="var_sucursal_name"
					        ></v-text-field>
					      </v-flex>
					      <v-spacer></v-spacer>
					       <v-flex xs12 sm12 md5  v-show="showAgregarSucursal" >
					        	<v-switch
							      v-model="var_sucursal_status"
							      :label="`STATUS: ${var_sucursal_status == true ? 'ACTIVA': 'DESACTIVA' }`"
							    ></v-switch>
					      </v-flex>
					    </v-layout>
					  </v-container>
					  <v-card-actions v-show="showAgregarSucursal" >
					    <v-btn color="success" @click.prevent="AddSucursal">AGREGAR</v-btn>
					  </v-card-actions>
	            </v-card>
		    </v-flex>
		    <v-flex xs12 sm12 md12>
		      <v-data-table
		        :headers="headersSucursales"
		        :items="sucursales_de_empresa"
		        class="elevation-1"
		      >
		        <template v-slot:items="props"  >
		        	<td class="text-md-center"  >{{ props.item.name }}</td>
		        	<td class="text-md-center"  >{{ props.item.active == 1 ? 'ACTIVA': 'DESACTIVA'  }}</td>
		        	<td class="text-md-center"  ><v-btn small  color="warning">EDITAR</v-btn><v-btn small  color="error">ELIMINAR</v-btn></td>
		        </template>
		      </v-data-table>
		    </v-flex>
	  </v-layout>
	  <v-dialog
	    v-model="dialogEditarCompañia"
	    persistent :overlay="false"
	    max-width="500px"
	  >
		  <v-card>
	    	<v-menu
	          bottom
	          right >
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  v-on="on"
                  @click.prevent="dialogEditarCompañia = false"
                >
                  <v-icon>close</v-icon>
                </v-btn>
              </template>
        </v-menu>
        <v-container>
          <v-layout row wrap>
            <v-flex xs12 sm12 md12>
              <v-text-field
                label="NOMBRE"
                v-model="var_edit_name_compañia"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <v-switch label="STATUS" v-model="var_edit_status_compañia"></v-switch>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn color="orange accent-1" @click.prevent="editCompany" >EDITAR</v-btn>
        </v-card-actions>
		  </v-card>
	  </v-dialog>
	</v-container>
</v-app>
</template>
<script>
	export default {
		mounted(){
			this.getCompany();
		},
		data(){
			return {
				showAgregarCompañia: false,
				var_company_name: '',
				var_company_status: false,
				company: [],
				var_company: '',
				showAgregarSucursal: false,
				var_sucursal_name: '',
				var_sucursal_status: false,
				dialogEditarCompañia: false,
				var_edit_name_compañia: '',
				var_edit_status_compañia: false,
				headersSucursales: [
					{text: 'NOMBRE', align: 'center', value:'name'},
					{text: 'STATUS', align: 'center', value:'active'},
					{text: 'ACCION', align: 'center'},
				],
				sucursales_de_empresa: [],

			}
		},
		methods: {
			AddCompany: async function(){
				const URL = `api/company`
				var name, active;

				name = this.var_company_name
				active = this.var_company_status


				try {
					let company = await axios.post(URL,{
							name, active 
					})
					this.getCompany();
					alert(`COMPAÑIA ${this.var_company_name} AGREGADA CON EXITO`)
					this.var_company_name = ''
					this.var_company_status = false
				} catch(e) {
					alert(`ERROR ${e}`)
					console.log(e);
				}
			},
			getCompany: async function(){
				const URL = `api/company`
				try {

					let company = await axios.get(URL)
					this.company = company.data  

				} catch(e) {
					console.log(e);
				}
			},
			cargaEdit(){
				this.dialogEditarCompañia = true
				this.var_edit_name_compañia		= this.var_company.name
				this.var_edit_status_compañia	= this.var_company.active
			},
			editCompany: async function(){
				const URL = `api/company/${this.var_company.id}`
					var name, active;

					name = this.var_edit_name_compañia
					active = this.var_edit_status_compañia


				try {
					let editCompañia = await axios.put(URL, {
						name, active 
					})
					this.getCompany()
					alert(`COMPAÑIA ${this.var_edit_name_compañia} EDITADA CON EXITO`)
					this.dialogEditarCompañia = false
					this.var_edit_name_compañia = ''
					this.var_edit_status_compañia = false
					this.var_company = []
				} catch(e) {
					alert(`ERROR ${e}`)
					console.log(e);
				}
			},
			deleteCompany: async function(){
				const URL = `api/company/${this.var_company.id}`
				alert(`Esta Seguro que desea eliminar la compañia ${this.var_company.name}`)
				try {
					let deleteCompany = await axios.delete(URL)
					alert(`Eliminada con exito `)
					this.getCompany()
					this.var_company = []
				} catch(e) {
					alert(`ERROR ${e}`)
					// statements
					console.log(e);
				}
			},
			AddSucursal: async function(){
				const URL = `api/place`
				var name, company_id, active;

				name   = this.var_sucursal_name
				company_id =  this.var_company.id
				active  = this.var_sucursal_status

				try {
					let place = await axios.post(URL,{
						name, company_id, active
					})
					alert(`SUCURSAL ${this.var_sucursal_name} AGREGADA CON EXITO`)
					this.getSucursalesDeEmpresa();
					this.var_sucursal_name = ''
					this.var_sucursal_status = false	
				} catch(e) {
					alert(`ERROR ${e}`)
					console.log(e);
				}
			},
			getSucursalesDeEmpresa: async function(empresa){
				const URL = `api/sucursales-de-empresa/${empresa.id}`

				try {
					let sucursales =  await axios.get(URL)
					this.sucursales_de_empresa = sucursales.data.places
					console.log({r:this.sucursales_de_empresa})
				} catch(e) {
					// statements
					console.log(e);
				}
			}
		}
	}
</script>
<style>
	
</style>